body {
    margin: 0 auto;
    max-width: 1440px;
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

/* HEADER */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.header-logo-span {
    color: #2e2f42;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-item {

}
.menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.menu-link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu-link:hover {
    color: #404bbf;
}

.menu-link:focus {
    color: #404bbf;
}

.address {
    margin-left: auto;
    font-style: normal;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.contact-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover {
    color: #404bbf;
}

.contact-link:focus {
    color: #404bbf;
}

/* MAIN */

/* #1 cta-section */

.cta-section {
    margin: 0 auto;
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}

.cta-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.cta-button {
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-size: cover; 
}

.cta-button:hover,
.cta-button:focus {
    background-color: #404BBF;
}

/* #2 features-section */

.features-section {
    padding: 120px 0;
}

.features-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.features-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #3 team-section */

.team-section {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-member {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-container {
    padding: 32px 0;
}

.team-member-name {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-member-position {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.social-network-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-network-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-network-link:hover,
.social-network-link:focus {
    background-color: #404BBF;
}

.social-network-icon {
    fill: #f4f4fd;
}

/* #4 portfolio-section */

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list {
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover>.portfolio-img-text {
    transform: translateY(0%);
}

.portfolio-img-container {
    position: relative;
    overflow: hidden;
}

.portfolio-img-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-name {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.content-container {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.social-network-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-network-list-footer {
    display: flex;
    gap: 16px;
}

.sn-link-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sn-link-footer:hover,
.sn-link-footer:focus {
    background-color: #31d0aa;
}